@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
.mh {
    width: 100%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.322);
    position: relative;
  }
  
  .mh:before {
    content: '';
    position: absolute;
    background: url('../../assets/mh-mainmenu-bg-min.webp') no-repeat center top/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  

.mh {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mh .mh-content {
    display: block;
    position: absolute;
    bottom: 20%;
    left: 5%;
    padding: 1rem;
    width: 50%;
}


.mh h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}



/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.mh h1 {
    font-size: 2rem;
}

.mh .mh-content {
    left: 0%;
    width: 100%;
    text-align: center;
}

}