@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');


.servicesSA {
    width: 100%;
    height: auto;
    background-color: var(--primary-dark);
    border-bottom: 5px solid #791404;
    border-top: 5px solid #791404;

}

.servicesSA-content {
    padding: 5rem 0;
}

.servicesSA-header {
    text-align: center;
}

.servicesSA .servicesSA-header h2 {
    color: white;
    font-size: 2rem;
    padding: 1rem 0;
    font-family: 'Playfair', serif;
}

.servicesSA-header p {
    font-size: 14px;
}

.servicesSA h1 {
    color: var(--primary-color);
    font-size: 1rem;
    letter-spacing: 5px;
}

.servicesSA h2 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
}

.servicesSA p {
    color: white;
}

.servicesSA-flex {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.servicesSA-flexItem {
    text-align: center;
    width: 25%;
    height: auto;
    padding: 1rem;
    background-color: rgba(243, 236, 236, 0.116);
    border-radius: 1rem;
}

.servicesSA-flexItem p {
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    padding: .5rem;
}


.servicesSA-btn {
    text-align: center;
}

.servicesSA-btn button {
    background-color: var(--primary-color);
    color: var(--primary-dark);
    font-size: 1rem;
    padding: .5rem 1.5rem;
    border-radius: 5px;
}

.servicesSA-btn button:hover {
    background-color: white;
    color: rgb(187, 113, 27);
}

@media screen and (max-width: 940px) {
    .servicesSA-flex {
        flex-wrap: wrap;
    }

    .servicesSA-flexItem {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .servicesSA .servicesSA-header h2 {
        color: white;
        font-size: 1.5rem;
        padding: 1rem 0;
        font-family: 'Playfair', serif;
    }
}